/* tags, then classes; sorted alphabetically */

/* TODO: pick a unifying style for tables; there's no reason
 * to limit the below to the related-work table */
table#related-work {
  border: 1px solid gray;
  font-size: small;
}

table#related-work td {
  border: 1px solid gray;
}

table#related-work th {
  background-color: #88f;
}

table#related-work th.clear {
  background-color: white;
}

table#related-work .low {
  background-color: #f88;
}

table#related-work .mid {
  background-color: #ff8;
}

table#related-work .high {
  background-color: #8f8;
}

table#options-overview {
/*  border: 1px solid gray;*/
  font-size: 13px;
  table-layout:auto;       
}

td {
  padding: 4px;
}

tt {
  font-family: courier, monospace;
}

.center {
  text-align: center;
}

.cmdline {
}

.colors-light-1 {
	background-color: #FFFBE6;
}

.colors-light-2 {
	background-color: #FFF2E6;
}

.colors-light-3 {
	background-color: #E6EBFF;
}

.colors-1
 {
  background: #FFBF80;
  color: #000000;
}

.bk-box {
  background: #f8f8f8;
  color: #000000;
}

.colors-2,
.section-start {
  background: #FFEC80;
  color: #000000;
}

.colors-3 {
  background: #eee;
  color: #000000;
}

.emph-download {
  background: #809BFF;
  color: #000000;
}

.colors-4,
.cmdline,
pre {
  background: #f8f8f8;
  color: #000000;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.mar, .square {
  margin: 10px;
}

.option {
  font-size: 22px;
  font-weight: bold;
}

.pad, .square {
  padding: 10px;
}

.property {
  font-size: 18px;
  font-weight: bold;
}

.question {
  padding-top: 10px;
  font-size: large;
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-size: small;
  padding-bottom: 5px;
}

.section-start {
  margin-top: 15px;
  text-align:center; 
}

.title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.todo {
	background-color: yellow;
	border: 4px dotted black;
	font-weight: bold;
}

#ver {
  font-weight: bold;
  color: #22f;
}

/*
 * Pretiffy styles
 */

.lit, .dec { color: #4D2600; }
.str { color: #800; }
.tag { color: #00104D; }
.typ { color: #00104D; }
.kwd { color: #4D2600; font-weight: bold; }
.atn {color: #606; }
.atv {color: #060; }
.com { color: #444; }
.pun { color: #000; }
.pln { color: #111; }
pre {
	padding-left: 8px;
	border: 1px solid #ccc;
}
