/* tags, then classes; sorted alphabetically */

/* TODO: pick a unifying style for tables; there's no reason
 * to limit the below to the related-work table */
table#related-work {
  border: 1px solid gray;
  font-size: small;
}

table#related-work td {
  border: 1px solid gray;
}

table#related-work th {
  background-color: #88f;
}

table#related-work th.clear {
  background-color: white;
}

table#related-work .low {
  background-color: #f88;
}

table#related-work .mid {
  background-color: #ff8;
}

table#related-work .high {
  background-color: #8f8;
}

td {
  padding: 4px;
}

tt {
  font-family: courier, monospace;
}

.center {
  text-align: center;
}

.cmdline {
}

.colors-1,
.gotcha {
  background: #FD7279;
  color: #000000;
}

.colors-2,
.section-start {
  background: #5DCEC6;
  color: #000000;
}

.colors-3 {
  background: #CDF76F;
  color: #000000;
}

.colors-4,
.cmdline,
pre {
  background: #EEEEEE;
  color: #000000;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.gotcha {
  margin-left: 3cm;
  margin-right: 3cm;
  padding: 10px;
  width: auto;
  font-size: small;
}

.mar, .square {
  margin: 10px;
}

.option {
  font-size: 22px;
  font-weight: bold;
}

.pad, .square {
  padding: 10px;
}

.property {
  font-size: 18px;
  font-weight: bold;
}

.question {
  padding-top: 10px;
  font-size: large;
  font-style: italic;
}

.quote-author {
  text-align: right;
  font-size: small;
  padding-bottom: 5px;
}

.section-start {
  margin-top: 15px;
  text-align:center; 
}

.title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

.todo {
	background-color: yellow;
	border: 4px dotted black;
	font-weight: bold;
}

#ver {
  font-size: 40px; 
  font-weight: bold;
}
