/* Pretty printing styles. Used with prettify.js. */

.str, .typ, .atn, .kwd, .tag, .atv, .com, .lit, .pun, .dec { color: #6B6995; }
.pln { color: #000000; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

code, pre {
  font-family: courier, monospace;
}

pre {
  padding-left: 30px;
  margin-bottom: 2px;
  border: 1px solid black;
}

