/* Pretty printing styles. Used with prettify.js. */

.str { color: #A30008; }
.kwd { color: #00665E; }
.com { color: #6B9B00; }
.typ { color: #A30008; }
.lit { color: #6B9B00; }
.pun { color: #6B9B00; }
.pln { color: #000000; }
.tag { color: #00665E; }
.atn { color: #A30008; }
.atv { color: #00665E; }
.dec { color: #6B9B00; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

code, pre {
  font-family: courier, monospace;
}

pre {
  padding-left: 30px;
  margin-bottom: 2px;
  border: 1px solid black;
}

