.title {
  font-size: xx-large;
  font-weight: bold;
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-size: large;
  font-weight: bold;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: normal;
}

tt {
  font-family: courier, monospace;
}

pre {
  font-family: courier, monospace;
  font-size: large;
  padding-left: 1cm;
}

code {
  font-family: courier, monospace;
}

.cmdline {
  background-color: #eeeeee;
}

.gotcha {
  margin-left: 3cm;
  margin-right: 3cm;
  font-size: small;
  background-color: #ffeeee;
}

table#related-work {
  border: 1px solid gray;
  font-size: small;
}

table#related-work td {
  border: 1px solid gray;
}

table#related-work th {
  background-color: #88f;
}

table#related-work th.clear {
  background-color: white;
}

table#related-work .low {
  background-color: #f88;
}

table#related-work .mid {
  background-color: #ff8;
}

table#related-work .high {
  background-color: #8f8;
}

.todo {
	background-color: yellow;
	border: 4px dotted black;
	font-weight: bold;
}
