.title {
  font-size: xx-large;
  font-weight: bold;
}

h1 {
  font-size: x-large;
  font-weight: bold;
}

h2 {
  font-size: large;
  font-weight: bold;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
}

tt {
  font-family: courier, monospace;
  font-size: normal;
}

pre {
  font-family: courier, monospace;
  font-size: large;
  padding-left: 1cm;
  background-color: #eeeeee;
}
