##! ${info.getParserName()}Parser.java
#if( "$!info.getPackageName()" != "" ) 
package $info.getPackageName();

#end
#set( $parsername = $info.getParserName() )
import java.io.PrintStream;
import java.util.List;

import ie.ucd.clops.runtime.errors.ParseResult;
import ie.ucd.clops.runtime.options.Option;
import ie.ucd.clops.runtime.options.exception.InvalidOptionPropertyValueException;
import ie.ucd.clops.runtime.parser.AbstractSpecificCLParser;
import ie.ucd.clops.runtime.rules.RuleStore;
import ie.ucd.clops.util.OptionUtil;

/**
 * The arguments parser.
 * This is the main entry point for the option's handling.
 * @author The CLOPS team
 */
public class ${parsername}Parser extends AbstractSpecificCLParser {

  /** The option store used to hold the option's status. */
  private final ${parsername}OptionStore optionStore;
  /** The store which contains the constraints associated with the options. */
  private final ie.ucd.clops.runtime.rules.RuleStore ruleStore;

  /**
   * Creates a parser to handle the options.
   * @throws InvalidOptionPropertyValueException if one of the options had
   * an invalid property attached to it in the CLOPS description file.
   */
  public ${parsername}Parser() throws InvalidOptionPropertyValueException {
    optionStore = new ${parsername}OptionStore();
    ruleStore = new ${parsername}RuleStore();
  }

  /**
   * Get the {@link ie.ucd.clops.runtime.options.OptionStore} containing the option instances for this parser.
   * @return the option store.
   */
  public ${parsername}OptionStore getOptionStore() {
    return optionStore;  
  }
  
  /**
   * Get the {@link RuleStore} containing the rules for this parser.
   * @return the option store.
   */
  public RuleStore getRuleStore() {
    return ruleStore;
  }
  
  /**
   * Get the format string for this parser.
   * @return the format string.
   */
  public String getFormatString() {
    return "$info.getFormatString()"; 
  }

  public static void printUsage(PrintStream os) {
    printUsage(os, 80, 0);
  }

  public static void printUsage(PrintStream out, int width, int indent) {
    List<Option<?>> all = new ${parsername}OptionStore().getOptionsWithoutErrorOption();
    OptionUtil.printOptions(out, all, width, indent);
    out.flush();
  }
  
  /**
   * Parse the given command line arguments using a new ${parsername}Parser,
   * with normal lookahead. 
   */
  public static ${parsername}ParseResult parse(String[] args, String progName) {
    ${parsername}Parser parser = new ${parsername}Parser();
    ParseResult parseResult = parser.parseInternal(args, progName);
    return new ${parsername}ParseResult(parseResult, parser.getOptionStore());
  }
  
  /**
   * Parse the given command line arguments using a new ${parsername}Parser,
   * with infinite lookahead.
   */
  public static ${parsername}ParseResult parseAlternate(String[] args, String progName) {
    ${parsername}Parser parser = new ${parsername}Parser();
    ParseResult parseResult = parser.parseAlternateInternal(args, progName);
    return new ${parsername}ParseResult(parseResult, parser.getOptionStore());
  }
}
