##! ${info.getParserName()}Main.java
#if( "$!info.getPackageName()" != "" ) 
package $info.getPackageName();
#end
#set($parserName = $info.getParserName())

import java.util.logging.Level;
import ie.ucd.clops.logging.CLOLogger;
import ie.ucd.clops.runtime.options.exception.InvalidOptionPropertyValueException;

public class ${info.getParserName()}Main {
  
  public static void main(String[] args) throws Exception {
    boolean success = test(args, true);
    if (success) {
      CLOLogger.getLogger().log(Level.INFO, "Successful parse.");
    } else {
      CLOLogger.getLogger().log(Level.INFO, "Parse did not succeed.");
    }
    
  }
  
  public static boolean test(String[] args, boolean logFine) throws Exception {
    if (logFine) {
      CLOLogger.setLogLevel(Level.FINE);
    }
    ${parserName}Parser parser = new ${parserName}Parser();
    return parser.parse(args).isEmpty();
  }
  
}
