## help.vm
$info.ParserName

Options
=======
#parse("templates/all.vm")

#foreach($option in $info.getOptionDescriptions())

Name: $option.Identifier
Description: $!option.Description
#end

Option Groups
=============

##! ${info.ParserName}_help.txt
#foreach($group in $information.getOptionGroupDescriptions())
Group: $group.Identifier
#foreach($child in $group.getChildren())
  $!child #end

#end

Rules
=====
#foreach($rule in $info.getOverrideRuleDescriptions())

#foreach($assignment in $rule.getAssignments())
Assignment: $assignment.OptionIdentifier = $assignment.Value
#end
Condition: $!rule.ConditionText
#end

#foreach($rule in $info.getValidityRuleDescriptions())
Explanation: $rule.getExplanation()
#foreach($assignment in $rule.getAssignments())
Assignment: $assignment.OptionIdentifier = $assignment.Value
#end
Condition: $!rule.ConditionText
#end

#foreach($rule in $info.getFlyRuleDescriptions())

Triggered by: $!rule.TriggeringOptionIndentifier
#foreach($assignment in $rule.getAssignments())
Assignment: $assignment.OptionIdentifier = $assignment.Value
#end
Condition: $!rule.getConditionText()
#end