## help.vm
$information.ParserName

Options
=======
#parse("templates/all.vm")

#foreach($option in $information.getOptionDescriptions())

Name: $option.Identifier
Description: $!option.Description
#end

Rules
=====
#foreach($rule in $information.getOverrideRuleDescriptions())

#foreach($assignment in $rule.getAssignments())
Assignment: $assignment.OptionIdentifier = $assignment.Value
#end
Condition: $!rule.ConditionText
#end

#foreach($rule in $information.getValidityRuleDescriptions())
Explanation: $rule.getExplanation()
#foreach($assignment in $rule.getAssignments())
Assignment: $assignment.OptionIdentifier = $assignment.Value
#end
Condition: $!rule.ConditionText
#end

#foreach($rule in $information.getFlyRuleDescriptions())

Triggered by: $!rule.TriggeringOptionIndentifier
#foreach($assignment in $rule.getAssignments())
Assignment: $assignment.OptionIdentifier = $assignment.Value
#end
Condition: $!rule.getConditionText()
#end