## html.vm
<html>
<title>
$info.ParserName
</title>
<head>
$info.PackageName
</head>
<body>
<h2>Options</h2>
#foreach($option in $info.getOptionDescriptions())

<h3>$option.Identifier</h3>
<p>$!option.getPrefixRegexps()</p>
<p>$!option.Description</p>
#end
<h2>Option Groups</h2>

#foreach($group in $info.getOptionGroupDescriptions())
<h3>$group.Identifier</h3>
<p>
#foreach($child in $group.getChildren())
  $!child #end
</p>
#end
<h2>Rules</h2>
 
#foreach($rule in $info.getOverrideRuleDescriptions())

<p>
#foreach($assignment in $rule.getAssignments())
Assignment: $!assignment.OptionIdentifier = $!assignment.Value
#end
</p>
<p>
  Condition: $!rule.getConditionText()
</p>
#end

#foreach($rule in $info.getValidityRuleDescriptions())

<p>
#foreach($assignment in $rule.getAssignments())
Assignment: $!assignment.OptionIdentifier = $!assignment.Value
#end
</p>
<p>Condition: $!rule.getConditionText()
</p>
</p>
<p>Explanation: $!rule.getExplanation()
</p>
#end

#foreach($rule in $info.getFlyRuleDescriptions())

<p>
#foreach($assignment in $rule.getAssignments())
Assignment: $!assignment.OptionIdentifier = $!assignment.Value
#end
</p>
<p>Condition: $!rule.getConditionText()
</p>

#end
</body>
</html>
